.body {
  border: dashed 1px red;
  margin: 0;
}

.wrapper {
   width: 80%;
   margin: auto;
   border: dashed 1px red;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo,.menu {
  border: dashed 1px red;
  display: inline-block;
}

.logo {
  font-family: 'PT Serif', serif;
  font-weight: 700;
  width: 63%;
  padding: 40px 0;
}

.menu {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.menu__item {
  padding: 0 13px;
  border: dashed 1px red;
}

.menu__item:last-child {
  padding-right: 0;
}

.main__title {
  font-family: 'PT Serif', serif;
  font-weight: 700;
}

.main__subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.input_color_blue {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}